{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'reservation:main' %}">미포교회 청년다락 예약시스템</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="35px" alt="" class="rounded-circle">
                        {% else %}
                        <img src="https://doitdjango.com/avatar/id/566/e64085969400aa14/svg/{{ user.email }}" width="35px" alt="" class="rounded-circle">
                        {% endif %}
                        &nbsp;
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="{% url 'account_logout' %}?next={{ request.path }}">Log Out</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#logInModal">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Login Modal -->
<div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="logInModalLabel"><i class="fas fa-sign-in-alt"></i>&nbsp Log In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 d-grid gap-2">
                        <a role="button" class="btn btn-outline-dark btn-sm" type="button" href="{% url 'account_login' %}?next={{ request.path }}">
                            <i class="far fa-envelope"></i>&nbsp&nbsp Log in with E-mail</a>
                    </div>
                    <div class="col-md-6 d-grid gap-2 mb-auto">
                        <a role="button" class="btn btn-outline-dark btn-sm" type="button" href="{% url 'account_signup' %}">
                            <i class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>