<div class="modal fade" id="noticeModal" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">공지사항</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for n in notice %}
                <p style="white-space:pre;">{{ n.content }}</p>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modal_today_close">오늘 하루 보지 않기</button>
                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>