<!--예약 정보 모달-->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eventModalLabel">예약 현황</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="d-grid gap-2">
                        <span class="modalBodyBooker"></span>
                        <span class="modalBodyParticipants"></span>
                        <span class="modalBodyTime"></span>
                        <span class="modalBodyDescription"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="editReservationModalBtn" role="button" data-bs-toggle="modal" data-bs-target="#editReservationModal">수정</a>
                <a href="#" class="btn btn-danger" id="deleteReservationModalBtn" role="button" data-bs-toggle="modal" data-bs-target="#deleteReservationModal">삭제</a>
            </div>
        </div>
    </div>
</div>