{% extends 'reservation/base.html' %}
{% load static %}
{% block header %}
<link href={% static 'fullcalendar/lib/main.css' %} rel='stylesheet' />
<style type='text/css'>
    #calendar a {
        text-decoration: none;
        color: black;
    }
</style>
{% endblock header %}
{% block main_area %}
<div class="row">
    <div class="col-12">

    </div>
</div>
<div class="row">
    <div id='calendar'></div>
</div>
<!--예약 모달-->
<div class="modal fade" id="eventCreateModal" tabindex="-1" aria-labelledby="eventCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eventCreateModalLabel">예약</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'reservation:reservation_create' %}" method="post" id="reservation_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text">예약자</span>
                            <input type="text" class="form-control" name="booker" id="booker">
                            <span class="input-group-text">참석자</span>
                            <input type="text" class="form-control" name="participants" id="participants">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">시작시간</span>
                            <input type="datetime-local" class="form-control" name="start_time" id="start_time">
                            <span class="input-group-text">종료시간</span>
                            <input type="datetime-local" class="form-control" name="end_time" id="end_time">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">용도</span>
                            <textarea type="text" class="form-control" aria-label="With textarea" name="description" id="description" rows=10></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">암호</span>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                    </div>
                    <div class="modal-footer pb-0">
                        <button type="submit" id="reservation_submit" class="btn btn-secondary">예약</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!--캘린더 모달-->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eventModalLabel">예약 현황</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="d-grid gap-2">
                        <span class="modalBodyBooker"></span>
                        <span class="modalBodyParticipants"></span>
                        <span class="modalBodyTime"></span>
                        <span class="modalBodyDescription"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" id="editReservationModalBtn" role="button" data-bs-toggle="modal" data-bs-target="#editReservationModal">수정</a>
                <a href="#" class="btn btn-danger" id="deleteReservationModalBtn" role="button" data-bs-toggle="modal" data-bs-target="#deleteReservationModal">삭제</a>
            </div>
        </div>
    </div>
</div>

<!-- 예약 수정 모달-->
<div class="modal fade" id="editReservationModal" tabindex="-1" role="dialog" aria-labelledby="editReservationModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" editReservationModal id="editReservationModalLabel">예약 수정</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="reservation_edit_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text">예약자</span>
                            <input type="text" class="form-control" name="booker" id="editBooker">
                            <span class="input-group-text">참석자</span>
                            <input type="text" class="form-control" name="participants" id="editParticipants">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">시작시간</span>
                            <input type="datetime-local" class="form-control" name="start_time" id="editStartTime">
                            <span class="input-group-text">종료시간</span>
                            <input type="datetime-local" class="form-control" name="end_time" id="editEndTime">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">용도</span>
                            <textarea type="text" class="form-control" aria-label="With textarea" name="description" id="editDescription" rows=10></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">암호</span>
                            <input type="password" class="form-control" name="password" id="edit_password">
                        </div>
                    </div>
                    <div class="modal-footer pb-0">
                        <button class="btn btn-primary" type="submit" id="editReservationBtn">수정</button>
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!--삭제 확인 모달-->
<div class="modal fade" id="deleteReservationModal" tabindex="-1" role="dialog" aria-labelledby="deleteReservationModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">정말로 삭제하시겠습니까?</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="reservation_delete_form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="d-grid gap-2 mb-3">
                            <span class="modalBodyBooker"></span>
                            <span class="modalBodyParticipants"></span>
                            <span class="modalBodyTime"></span>
                            <span class="modalBodyDescription"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="input-group mb-3">
                            <span class="input-group-text">암호</span>
                            <input type="password" class="form-control" name="password" id="delete_password">
                        </div>
                        <button class="btn btn-danger" type="submit" id="deleteReservationBtn">삭제</button>
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock main_area %}
{% block script %}
<script>
    $("#editReservationModalBtn").click(function () {
        var eventId = $(this).data('id');
        var booker = $(this).data('booker');
        var participants = $(this).data('participants');
        var start = $(this).data('start');
        var end = $(this).data('end');
        var description = $(this).data('description');
        $('#editBooker').attr('value', booker);
        $('#editParticipants').attr('value', participants);
        $('#editStartTime').attr('value', start);
        $('#editEndTime').attr('value', end);
        document.getElementById("editDescription").innerHTML = description;
        $("#reservation_edit_form").attr('action', 'edit/' + eventId + '/');
    })
    $("#deleteReservationModalBtn").click(function () {
        var eventId = $(this).data('id');
        $("#reservation_delete_form").attr('action', 'delete/' + eventId + '/');
    })
</script>
{% endblock script %}